// Your custom variables

$primary: #ffb100 !default;
$primaryMask: rgba(255, 177, 0, 0.6) !default;

$secondary: #3483c6 !default;
$secondaryMask: rgba(52, 131, 198, 0.6) !default;

$darkMask: rgba(0, 0, 0, 0.6);

$certsBackground: rgba(245, 245, 245, 0.6);